.container {
  margin-top: 120px;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 555px;
  height: 700px;
  border-radius: 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.title,
.title2 {
  font-size: 35px;
  margin-top: 50px;
  font-family: "Pacifico", cursive;
}
.title2 {
  font-size: 40px;
}

.contentContainer li {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.contentContainer li:nth-child(2) {
  margin-top: 25px;
}

.contentContainer input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #fff;
}
.contentContainer label {
  margin-right: auto;
  font-size: 20px;
}
.contentContainer li button {
  color: #fff;
  width: 80%;
  border-radius: 12px;
  height: 75px;
  background-color: #354a5a;
  font-size: 20px;
  border: 2px solid #fff;
}
.contentContainer li button:hover {
  background-color: rgb(78, 111, 136);
  transition: background-color 250ms linear;
}

.contentContainer .btn2 {
  margin-top: 40px !important;
}
.contentContainerTwo {
  width: 600px;
  height: 700px;
}
.avatarInput {
  display: none;
}

.image {
  width: 48px;
  margin-left: -100px;
  /* align-self: baseline; */
}
.contentContainer li p {
  text-wrap: balance;
  /* new css proprty support is not so good */
  text-align: center;
}

@media screen and (min-height: 0px) and (max-height: 950px) {
  .contentContainerTwo {
    width: 550px;
    height: 650px;
  }
}

.contentContainer .specialContainer label:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding-bottom: 20px;
}
